<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dut.t2.travelhepler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name="dut.t2.travelhepler.App"
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity_"></activity>
        <activity android:name=".ui.login.LoginActivity_"></activity>
        <activity android:name="dut.t2.travelhelper.ui.signup.SignUpActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.dashboard.trips.info.InfoActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.dashboard.trips.create.CreateTripActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.dashboard.trips.update.UpdateTripActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.ProfileActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.update.UpdateProfileActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.photos.PhotosActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.photos.PhotoActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.references.ReferencesActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.more.profile.home.HomeActivity_"></activity>
        <activity android:name=".ui.hosts.HostsActivity_"></activity>
        <activity android:name=".ui.hosts.info.HostInfoActivity_"></activity>
        <activity android:name="dut.t2.travelhepler.ui.main.search.search.SearchActivity_"></activity>
        <activity android:name=".ui.hosts.request.RequestToStayActivity_"></activity>
        <activity android:name=".ui.main.more.requests.RequestsActivity_"></activity>
    </application>

</manifest>